* {
    font-family: 'open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

#container {
    height: 100vh;
    position: relative;
}

/* Side Bar */
#sideBar {
    width: 410px;
    height: 100%;
    display: inline-block;
    position: relative;
}

#barraDeFerramentas {
    width: 100%;
    height: 60px;
    background-color: #EEE;
}

.fotoUsuario {
    width: 40px;
    border-radius: 50%;
    margin: 10px 0 0 15px;
    background-color: #CCC;
}

.auxIcon {
    float: right;
    height: 60px;
    line-height: 60px;
    padding-right: 20px;
}

.auxIcon i {
    color: #80868A;
    font-size: 20px;
    margin: 0 15px 0 15px;
    cursor: pointer;
}

/* Container de Notificações */
#containerNotification {
    width: 100%;
    height: 90px;
    padding: 23px 0 0 80px;
    background-color: #9DE1FE;
    color: #384C56;
    position: relative;
    box-sizing: border-box;
}

.fas.fa-bell-slash {
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    font-size: 18px;
    color: #9DE1FE;
    background-color: #F5FCFF;
    position: absolute;
    top: 20px;
    left: 15px;
}

#containerNotification p {
    margin: 0;
}

#containerNotification #receberNotification {
    font-size: 15px;
    margin-bottom: 3px;
}

#containerNotification #ativarNotification {
    font-size: 13px;
}

/* Container de Pesquisa */
#containerPesquisa {
    width: 100%;
    height: 50px;
    padding: 7.5px 0 0 7.5px;
    background-color: #F8F8F8;
    position: relative;
    color: #BDC1C3;
    box-sizing: border-box;
}

#porcurarContato {
    position: absolute;
    left: 30px;
    top: 18px;
    font-size: 14px;
}

#procura {
    border: none;
    width: 385px;
    height: 35px;
    padding-left: 60px;
    border-radius: 17.5px;
    background-color: #FFF;
    box-sizing: border-box;
}

#procura::placeholder {
    color: #BDC1C3;
}

/* Container de Contatos */
#containerContatos {
    height: auto;
    background-color: #FFF;
}

.boxContato {
    cursor: pointer;
    height: 72px;
    background-color: #FFF;
    border-top: 1px solid #f2f2f2;
    position: relative;
    box-sizing: border-box;
}
.boxContato:last-child {
    border-bottom: 1px solid #f2f2f2;
}
.boxContato:hover{
    background-color: #F4F5F5;
}

.chatAtivo {
    background-color: #E9EBEB;
}

.chatAtivo.boxContato:hover{
    background-color: #E9EBEB;
}

.boxContato .fotoUsuario{
    width: 50px;
}

.ifoUsuario {
    margin-left: 15px;
    padding-top: 10px;
    display: inline-block;
}

.ifoUsuario p, .infoMenssage p {
    margin: 0;
}

.nomeUsuario {
    font-size: 16px;
    color: #000;
    margin-bottom: 15px;
}
.previewMenssage {
    font-size: 14px;
    color: #454545;
}

.fa-check-double {
    margin-right: 5px;
    color: #4FC3F7;
}

.infoMenssage {
    position: absolute;
    top: 12px;
    right: 20px;
    display: inline-block;
}

.infoMenssage .horario {
    font-size: 12px;
    margin-bottom: 5px;
    color: #CCC;
}

.menssagePendente {
    background-color: #09D261;
    color: #FFF;
    width: 19px;
    height: 19px;
    line-height: 19px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    float: right;
}

/* Container Chat */
#chatArea {
}
